body{
    font-family: 'Comfortaa', cursive;
    margin: 0 10%;
}

.container{
    border: 1px solid black;
    padding: 15px;
    min-height: 100%;
    margin: 20px;
}

.colors_container {
    padding: 10px;
    margin: 15px auto;
    width: 70%w;
}

.color_panel{
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
}

.color_panel:hover {
    border: black dotted 2px;
}

.color_panel.off_white{
    background-color: #f4f1de;
}

.color_panel.cream{
    background-color: #f2cc8f;
}

.color_panel.yellow{
    background-color: #fbb13c;
}

.color_panel.peach {
    background-color: #e07a5f;
}

.color_panel.mint_green {
    background-color: #81b29a;
}

.color_panel.navy {
    background-color: #3d405b;   
}

.dynapuff {
    font-family: 'Dynapuff';
}

.font_title {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
