body{
    font-family: 'Comfortaa', cursive;
    margin: 0 10%;
}

.container{
    border: 1px solid black;
    padding: 15px;
    min-height: 100%;
}

.colors_container {
    min-height: 100%;
}

.lactaid_name, .lactaid_hex{
    background-color: #f4f1de;
    padding: 10px;
    margin: 15px;
}

.cream p{
    background-color: #f2cc8f;
}