body{
    font-family: 'Comfortaa', cursive;
    margin: 0 10%;
}

.container{
    border: 1px solid black;
    padding: 15px;
    min-height: 100%;
}

.colors_container {
    padding: 10px;
    margin: 15px auto;
}

.color_panel{
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
}

.color_panel.off_white{
    background-color: #f4f1de;
}

.color_panel.cream{
    background-color: #f2cc8f;
}

.color_panel.yellow{
    background-color: #fbb13c;
}

.color_panel.peach {
    background-color: #e07a5f;
}

.color_panel.mint_green {
    background-color: #81b29a;
}

.color_panel.navy {
    background-color: #3d405b;   
}
